<div class="row">
  <form materialize [formGroup]="form">

    <div formGroupName="movie">

      <div class="input-field col s12">
        <input id="Title" type="text" formControlName="Title">
        <label for="Title" class="">Title</label>
      </div>
      <div class="input-field col s12">
        <input id="Director" type="text" formControlName="Director">
        <label for="Director" class="">Director</label>
      </div>
      <div class="input-field col s12">
        <input type="file" name="image" (change)="imageUploadChanged($event)" />
      </div>

    </div>
    <button (click)="addMovie()" class="btn waves-effect waves-light red right" type="button" name="action">Add Movie
    <i class="material-icons right">send</i>
  </button>
  </form>
</div>