/*@import '~materialize-css/dist/css/materialize.css';*/

nav {
    margin-bottom: 50px;
    padding-left: 15px;
}

.btn-add {
    margin-bottom: 20px;
}

.card-title {
    text-shadow: 1px 1px #444;
}