<form materialize [formGroup]="form">
  <div formGroupName="game">
    <input formControlName="title" placeholder="Title...">
    <input formControlName="platform" placeholder="Platform...">
    <div class="input-field col s12">
    <select materialize="material_select" multiple>
      <option value="" selected disabled>Select Platform</option>
      <option value="1">Playstation 4</option>
      <option value="2">Nintendo Switch</option>
      <option value="3">XBOX One</option>
      <option value="4">Playstation Vita</option>
      <option value="5">Nintendo 3DS</option>
    </select>
    </div>
    
  </div>
  <button (click)="addGame()" class="btn waves-effect waves-light red right" type="button" name="action">Add Game
    <i class="material-icons right">send</i>
  </button>
</form>